body {
    background-color : black;
    padding:200px;



    
}
.parent{
    background :white;
    width :100%;
    height:500px;
    display:flex;
    gap:5px;
    
.child{
    background-color: chartreuse;
    width:200px;
    height:200px
}
